.filter__close {
    display: none;
    width: 12px;
    height: 12px;
    background: url(https://static.tildacdn.com/tild3034-6237-4661-b464-393039316136/filter-cross.svg) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}