.filter__close {
    display: none;
    width: 12px;
    height: 12px;
    background: url(https://storage.yandexcloud.net/bbe-kz/creative-cluster/filter-cross.svg) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}