.filter__close {
    display: none;
    width: 12px;
    height: 12px;
    background: url(../../../../../images/filter-cross.svg) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}