.popup__content {
	overflow-x: scroll;
	height: 434px;
	padding-right: 10px;

	&::-webkit-scrollbar {
		width: 4px;
		height: 0;
		background: #f1f2f30d;
	}

	&::-webkit-scrollbar-thumb {
		background: #f1f2f399;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-button {
		width: 9px;
		height: 9px;
	}

	@media screen and (max-width: $hor-tablet) {
		padding-right: 8px;
	}
}
