.popup__container {
    width: 934px;
    height: auto;
    max-height: 574px;
    padding: 24px 10px 0 24px;
    border-radius: 16px;
    background: #1D1D20;
    position: relative;
    overflow: hidden;
}