.cards-wrapper_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 1.2;
    font-family: Suisse Intl, Arial, sans-serif;
    text-align: center;

    @media screen and (max-width: $hor-mobile) {
        font-size: 18px;
    }
}