.wrapper-filters {
    overflow: visible;
    width: 100%;
    position: relative;
    margin-bottom: 40px;

    @media screen and (max-width: 1199px) {
        left: -60px;
    }

    @media screen and (max-width: 959px) {
        // width: calc(100% + 120px);
        // margin-inline: -60px;
        // left: 0;
    }

    @media screen and (max-width: $ver-mobile) {
        left: 0;
        margin-inline: -30px;
        width: calc(100% + 60px);
    }
}