.filters {
    display: none;
	list-style: none;
	background: none;
	overflow-x: scroll;
	border-radius: unset;
	justify-content: flex-start;
	gap: 8px;
	position: relative;
    padding: 0 60px;


	// &::after {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     content: '';
    //     width: 60px;
    //     height: 100%;
	// 	background: linear-gradient(270deg, #161618 0%, rgba(22, 22, 24, 0) 100%), linear-gradient(270deg, #161618 0%, rgba(22, 22, 24, 0) 100%);
	//}

	&::-webkit-scrollbar {
		display: none;
	}
}
