.filters {
    display: none;
	list-style: none;
	background: none;
	overflow-x: scroll;
	border-radius: unset;
	justify-content: flex-start;
	gap: 8px;
	position: relative;
    padding: 0 60px;


	@media screen and (max-width: $hor-mobile) {
		padding: 0 30px;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
