$color-white: #F1F2F3;
$color-coal: #161618;
$color-dark: #1D1D20;
$color-grey: #303032;
$color-carrot: #F07930;

$desktop: 1439px;
$hor-tablet: 1199px;
$ver-tablet: 959px;
$hor-mobile: 639px;
$ver-mobile: 479px;
