.popup__close {
    width: 20px;
    height: 20px;
    background: url(https://static.tildacdn.com/tild3138-3036-4535-a662-643235636262/popup-close.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .6;
        transition: .3s;
    }

    @media screen and (max-width: $hor-tablet) {
        width: 12px;
        height: 12px;
    }
}