.list {
    display: flex;
    background-color: $color-grey;
    border-radius: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto 28px auto;
    padding: 0 !important;

    @media screen and (max-width: $ver-tablet) {
        display: none;
    }
}