.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    overflow-y: scroll;
    gap: 8px;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 4px;
        background: #F1F2F30D;
    }

    &::-webkit-scrollbar-thumb {
        background: #F1F2F399;
        border-radius: 100px;
    }

    @media screen and (max-width: $hor-tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $ver-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $hor-mobile) {
        grid-template-columns: repeat(1, 1fr)
    }
}