.card {
	background-color: rgba(241, 242, 243, 0.05);
	border-radius: 16px;
	padding: 0px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 332px;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(0);
    transition: .5s;

    @media screen and (max-width: $hor-tablet) {
        height: 320px;
    }

    @media screen and (max-width: $hor-mobile) {
        height: max-content;
    }
}
